
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-M: "Marcellus", sans-serif;
    --font-J: "Jost", sans-serif;

    --color-white: #fff;
    --color-black: #131510;
    --color-whites: #FCFDFC;
    --color-green: #84916F;
    --color-blue: #AFC2BE;
    --color-yellow: #98A9B0;

}

* {
    margin: 0;
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-whites);
}

a {
    color: inherit;
    text-decoration: none;
}

ul, li {
    text-decoration: none;
    list-style: none;
}

button {
    font-family: var(--font-M);
    font-weight: 400;
    font-size: 24px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

/*header*/
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 76px;
}

.header-logo h1{
    font-size: 64px;
    font-weight: 400;
    font-family: var(--font-M);
    color: var(--color-black);
    cursor: pointer;
}

.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 73px;
}

.header-nav a{
    font-family: var(--font-J);
    font-weight: 400;
    font-size: 24px;
    color: var(--color-black)
}

.header-nav a:hover {
    color: #98A9B0;
}

.header-icons{
    display: flex;
    gap: 45px;
    cursor: pointer;

}

.header-icons img{
    width: 25px;
    height: 25px;

}

.header-burger{
    display: none;
}

/*banner*/
.banner-wrapper{
    /* background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/banner/banner.jpg'); 
    width: 100%;
    height: 100vh; */
    position: relative;
    

}
.banner-item{
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    top: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-item p{
    font-family: var(--font-M);
    font-weight: 400;
    font-size: 48px;
    color: var(--color-white);
}

.banner-btn button{
    background-color: var(--color-green);
    border-radius: 15px;
    color: var(--color-white);
    padding: 25px 114px;
    outline: none;
    border: 2px solid transparent;
    cursor: pointer;
    white-space: nowrap;

    margin-top: 70px;
}

.banner-btn button:hover{
    background-color: transparent;
    color: var(--color-white);
    border: 2px solid var(--color-white);
}

/*showcase*/
.showcase-wrapper{
    padding-top: 80px;
    padding-bottom: 132px;
}

.showcase-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.showcase-title h2{
    font-family: var(--font-M);
    font-size: 48px;
    font-weight: 400;
    color: var(--color-black);
}

.showcase-title p{
    font-family: var(--font-J);
    font-size: 24px;
    font-weight: 400;
    color: var(--color-yellow);
}

.showcase{
    width: 432px;
    height: 603px;
    border-radius: 10px;
    border: solid 2px var(--color-blue);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.showcase img{
    width: 430px;
    height: 479px;
    cursor: pointer;
}

.showcase img:hover{
    filter: brightness(80%);
}

.showcase-text{
    display: flex;
    align-items: center;
    padding-top: 14px;
}

.showcase-text p{
    font-family: var(--font-J);
    font-size: 20px;
    font-weight: 400;
    color: var(--color-yellow);
}

.showcase-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;

    padding-top: 15px;
}

.showcase-price p{
    font-family: var(--font-J);
    font-weight: 400;
    font-size: 32px;
    color: var(--color-black);
}

.showcase-btn button{
    background-color: var(--color-green);
    border-radius: 10px;
    color: var(--color-white);
    padding: 7px 66px;
    outline: none;
    border: 2px solid transparent;
    cursor: pointer;
    white-space: nowrap;
}

.showcase-btn button:hover{
    background-color: var(--color-yellow);
}

.showcases{
    padding: 0 auto;
    padding-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 147px;

    
}

/*florists*/
.florists-wrapper{
    padding-top: 74px;
    padding-bottom: 53px;
}

.florists-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.florists-title h2{
    font-family: var(--font-M);
    font-size: 48px;
    font-weight: 400;
    color: var(--color-black);
}

.florists-title p{
    font-family: var(--font-J);
    font-size: 24px;
    font-weight: 400;
    color: var(--color-yellow);
}

.florist{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 13px;

}

.florist img{
    width: 350px;
    height: 350px;
    cursor: pointer;
}

.florist h3{
    font-family: var(--font-J);
    font-size: 24px;
    font-weight: 600;
    color: var(--color-black);
}

.florist p{
    font-family: var(--font-J);
    font-size: 20px;
    font-weight: 400;
    color: var(--color-yellow);
}

.florists{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 183px;

    padding: 0 auto;
    padding-top: 67px;

}

.florist-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*promo*/
.promo-wrapper{
    padding-top: 92px;
    padding-bottom: 132px;
}

.promo-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.promo-title h2{
    font-family: var(--font-M);
    font-size: 48px;
    font-weight: 400;
    color: var(--color-black);
}

.promo-title p{
    font-family: var(--font-J);
    font-size: 24px;
    font-weight: 400;
    color: var(--color-yellow);
}

.promo{
    width: 432px;
    height: 603px;
    border-radius: 10px;
    border: solid 2px var(--color-blue);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo img{
    width: 430px;
    height: 430px;
    cursor: pointer;
}

.promo img:hover{
    filter: brightness(80%);
}

.promo-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 14px;
}

.promo-text p{
    font-family: var(--font-J);
    font-size: 20px;
    font-weight: 400;
    color: var(--color-yellow);
}

.promo-item{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0 15px;;
    padding-top: 15px;
}

.promo-price p{
    font-family: var(--font-J);
    font-weight: 400;
    font-size: 32px;
    color: var(--color-black);
}

.promo-btn button{
    background-color: var(--color-green);
    border-radius: 10px;
    color: var(--color-white);
    padding: 7px 50px;
    outline: none;
    border: 2px solid transparent;
    cursor: pointer;
    white-space: nowrap;
}

.promo-btn button:hover{
    background-color: var(--color-yellow);
}

.promo-promo p{
    font-family: var(--font-J);
    font-weight: 400;
    font-size: 20px;
    color: var(--color-blue);
}

.promous{
    padding: 0 auto;
    padding-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 147px;
}

.promo-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding-bottom: 16px;
}

/*reviews*/
.reviews-photo{
    background-image: url('../img/reviews/reviews.jpg');
}

.reviews-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    padding-top: 77px;
    padding-bottom: 159px;
}

.reviews-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 77px;
}

.reviews-title h2{
    font-family: var(--font-M);
    font-size: 48px;
    font-weight: 400;
    color: var(--color-black);
}

.reviews-title p{
    font-family: var(--font-J);
    font-size: 24px;
    font-weight: 400;
    color: var(--color-black);
}


/* .reviews-nav{
    display: flex;
    gap: 27px;
    align-items: center;

    flex-direction: column;
} */
.reviews-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1300px;

    padding: 77px 0;
}

.reviews-icons img{
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.reviews-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;

}
.reviews-text p{
    font-family: var(--font-J);
    font-weight: 300;
    font-size: 32px;
    color: var(--color-black);
    white-space: nowrap;
}

.reviews-text img{
    width: 65px;
    height: 65px;
}

.reviews-btn button{
    background-color: var(--color-green);
    border-radius: 15px;
    color: var(--color-white);
    padding: 25px 114px;
    outline: none;
    border: 2px solid transparent;
    cursor: pointer;
    white-space: nowrap;

    margin-top: 77px;
}

.reviews-btn button:hover{
    background-color: transparent;
    color: var(--color-black);
    border: 2px solid var(--color-black);
}

/*bonquet*/
.bonquet-wrapper{
    padding-top: 80px;
    padding-bottom: 132px;
}

.bonquet-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.bonquet-title h2{
    font-family: var(--font-M);
    font-size: 48px;
    font-weight: 400;
    color: var(--color-black);
}

.bonquet-title p{
    font-family: var(--font-J);
    font-size: 24px;
    font-weight: 400;
    color: var(--color-yellow);
}

.bonquet{
    width: 432px;
    height: 603px;
    border-radius: 10px;
    border: solid 2px var(--color-blue);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.bonquet img{
    width: 430px;
    height: 479px;
    cursor: pointer;
}

.bonquet img:hover{
    filter: brightness(80%);
}

.bonquet-text{
    display: flex;
    align-items: center;
    padding-top: 14px;
}

.bonquet-text p{
    font-family: var(--font-J);
    font-size: 20px;
    font-weight: 400;
    color: var(--color-yellow);
}

.bonquet-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;

    padding-top: 15px;
}

.bonquet-price p{
    font-family: var(--font-J);
    font-weight: 400;
    font-size: 32px;
    color: var(--color-black);
}

.bonquet-btn button{
    background-color: var(--color-green);
    border-radius: 10px;
    color: var(--color-white);
    padding: 7px 66px;
    outline: none;
    border: 2px solid transparent;
    cursor: pointer;
    white-space: nowrap;
}

.bonquet-btn button:hover{
    background-color: var(--color-yellow);
}

.bonquets{
    padding: 0 auto;
    padding-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 147px;

    
}

/*about*/
.about-wrapper{
    padding-top: 29px;
    padding-bottom: 116px;
}

.about-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-title h2{
    font-family: var(--font-M);
    font-size: 48px;
    font-weight: 400;
    color: var(--color-black);
}

.about-item{
    display: flex;
    justify-content: space-between;
    padding: 0 130px;
    gap: 144px;

    margin-top: 59px;

}

.about-photo img{
    width: 600px;
    height: 613px;
    border-radius: 5px;
    cursor: pointer;
}


.about-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 45px;
}

.about-titletext{
    display: flex;
    align-items: center;
}

.about-titletext p{
    font-family: var(--font-J);
    font-weight: 400;
    font-size: 24px;
    color: var(--color-black);
}

hr{
    border: solid 2px var(--color-blue);
}

.aboutus p{
    font-family: var(--font-J);
    font-weight: 400;
    font-size: 24px;
    color: var(--color-black);
}

.aboutus{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
}

.about-btn{
    display: none;
}

.about-btn a{
    font-family: var(--font-J);
    font-size: 24px;
    font-weight: 400;
    color: var(--color-green);
}

.about-btn a:hover{
    color: var(--color-yellow);
}

.aboutuss{
    display: none;
}

.aboutuss p{
    font-family: var(--font-J);
    font-weight: 400;
    font-size: 22px;
    color: var(--color-black);
}

.about-nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*feedback*/
/* .feedback-wrapper{
    padding-top: 109px;
    padding-bottom: 98px;
} */

.feedback-photo{
    /* background-image: url('/assets/img/feedback/feedback.jpg'); */
    background: 
		linear-gradient(rgba(246, 246, 246, 0.53), rgba(0, 0, 0, 0.471)), 
		url('../img/feedback/feedback.jpg');
}

.feedback-item{
    padding: 0 150px 0 150px;
    padding-top: 109px;
    padding-bottom: 98px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 350px;
}

.feedback-texts{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.feedback-title h2{
    font-family: var(--font-J);
    font-weight: 400;
    font-size: 40px;
    color: var(--color-black);
}

.feedback-text p{
    font-family: var(--font-J);
    font-weight: 400;
    font-size: 20px;
    color: var(--color-white);
}

.feedback-btn button{
    background-color: var(--color-green);
    border-radius: 15px;
    color: var(--color-white);
    padding: 25px 114px;
    outline: none;
    border: 2px solid transparent;
    cursor: pointer;
    white-space: nowrap;
}

.feedback-btn button:hover{
    background-color: transparent;
    color: var(--color-black);
    border: 2px solid var(--color-black);
}

/*footer*/
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 71px 107px 42px 215px;
}

.footer-navigation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 28px;
}

.footer-navigation a{
    font-family: var(--font-J);
    font-weight: 400;
    font-size: 24px;
    color: var(--color-black);
}

.footer-navigation a:hover{
    color: var(--color-yellow);
}

.footer-logo h1{
    font-size: 48px;
    font-weight: 400;
    font-family: var(--font-M);
    color: var(--color-black);
    cursor: pointer;
}

.footer-contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 28px;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 13px;
}

.footer-icons{
    display: flex;
    justify-content: start;
    gap: 26px;
}

.footer-icons img{
    width: 47px;
    height: 47px;
    cursor: pointer;
}

.footer-number p{
    font-family: var(--font-J);
    font-weight: 400;
    font-size: 24px;
    color: var(--color-black);
}

.footer-number p:hover{
    color: var(--color-yellow);
}

.footer-contact h2{
    font-family: var(--font-J);
    font-size: 24px;
    font-weight: 600;
    color: var(--color-black);
}

.footer-end{
    background-color: var(--color-yellow);
    padding: 11px ;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.footer-end p{
    font-family: var(--font-J);
    font-size: 20px;
    font-weight: 400;
    color: var(--color-white);
}


@media (max-width:1921px) {
    .aboutus p:last-child{
        display: none;
    }

    .about-btn{
        display: block;
    }
}


@media (max-width: 1750px) {
    .showcase{
        width: 350px;
    }

    .showcase img{
        width: 350px;
        border-radius: 10px 10px 0 0;
    }
    
    .showcase-item{
        display: flex;
        gap: 21px;
    }

    .showcase-price p{
        font-size: 32px;
    }

    .showcase-btn button{
        padding: 7px 41px;
    }
    
    .promo{
        width: 350px;
    }
    
    .promo img{
        width: 350px;
        border-radius: 10px 10px 0 0;
    }
    
    .promo-item{
        display: flex;
        gap: 7px;
    }

    .promo-price p{
        font-size: 28px;
    }

    .promo-btn button{
        padding: 7px 30px;
    }

    .promo-promo{
        font-size: 16px;
    }

    .bonquet{
        width: 350px;
    }

    .bonquet img{
        width: 350px;
        border-radius: 10px 10px 0 0;
    }
    
    .bonquet-item{
        display: flex;
        gap: 21px;
    }

    .bonquet-price p{
        font-size: 32px;
    }

    .bonquet-btn button{
        padding: 7px 41px;
    }

    .aboutus p:last-child{
        display: none;
    }

    

    .about-btn{
        display: block;
    }

    .feedback-btn button{
        padding: 12px 45px;
        font-size: 20px;
    }

    .feedback-title h2{
        font-size: 32px;
    }

    .footer-navigation a{
        font-size: 22px;
    }

    .footer-logo h1{
        font-size: 40px;
    }

    .footer-contact h2{
        font-size: 22px;
    }

    .footer-icons img{
        width: 42px;
        height: 42px;
    }

    .footer-end p{
        font-size: 16px;
    }

    .footer-number p{
        font-size: 22px;
    }
}

@media (max-width: 1350px) {
    .showcase:last-child{
        display: none;
    }

    /* .promous:last-child{
        display: none;
    } */
    
    .bonquet:last-child{
        display: none;
    }

    .feedback-item{
        display: flex;
        gap: 250px;
    }

    .feedback-text p{
        font-size: 16px;
    }

    .reviews-icons{
        width: 1000px;
    }

    .showcase:nth-last-child(4){
        display: none;
    }

    .bonquet:nth-last-child(4){
        display: none;
    }

    
    .about-photo img{
        width: 574px;
        height: 587px;
    }

    .aboutuss{
        display: block;
    }

    .aboutus p{
        display: none;
    }

    .about-text{
        display: flex;
        gap: 40px;
    }
}
@media (max-width: 1200px) {
    .header-icons, .header-nav{
        display: none;
    }

    .header-burger{
        display: block;
    }

    .header-logo h1{
        font-size: 36px;
    }

    .feedback-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        padding: 25px 80px 25px 80px;
    }

    .reviews-icons{
        width: 850px;
    }

    .reviews-title p{
        font-size: 22px;
        padding: 0 15px;
    }

}

@media (max-width: 1550px) {
    .header-logo h1{
        font-size: 50px;
    }
    
}

@media (max-width:1415px) {
    .florist:last-child{
        display: none;
    }
    .promo:nth-last-child(3){
        display: none;
    }

    .about-titletext p{
        font-size: 22px;
    }
    
    .aboutus p{
        font-size: 22px;
    }
}

@media (max-width:1020px) {

    .about-text{
        display: flex;
        gap: 35px;
    }

    .about-titletext p{
        font-size: 20px;
    }

    .aboutuss p{
        font-size: 20px;
    }

    .about-btn a{
        font-size: 22px;
    }
}
@media (max-width:1150px) {
    .about-photo img{
        width: 420px;
        height: 550px;
    }
    
}
@media (max-width:1100px) {
    .showcase:nth-last-child(4){
        display: none;
    }

    .bonquet:nth-last-child(4){
        display: none;
    }
}
@media (max-width: 1000px) {
    .banner-photo img {
        height: 100vh;
    }

    .banner-text p{
        font-size: 36px;
    }

    .banner-btn button{
        padding: 18px 82px;
        font-size: 20px;
    }

    .banner-item{
        left: 50%;
    }

    .showcase-title h2{
        font-size: 36px;
    }

    .showcase-title p{
        font-size: 16px;
        padding: 0 10px 0 10px;
    }

    .florists-title h2{
        font-size: 36px;
    }

    .florists-title p{
        font-size: 16px;
        padding: 0 10px 0 10px;
    }

    .promo-title h2{
        font-size: 36px;
    }

    .promo-title p{
        font-size: 16px;
        padding: 0 10px 0 10px;
    }

    .bonquet-title h2{
        font-size: 36px;
    }

    .bonquet-title p{
        font-size: 16px;
        padding: 0 10px 0 10px;
    }

    .about-title h2{
        font-size: 36px;
    }

    .reviews-title h2{
        font-size: 36px;
    }

    .reviews-title p{
        font-size: 22px;
        padding: 0 15px;
    }

    .reviews-text img{
        width: 50px;
        height: 50px;
    }

    .reviews-text p{
        font-size: 28px;
    }

    .reviews-icons{
        width: 700px;
    }

    .about-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .about-photo img{
        width: 600px;
        height: 420px;
    }
    .aboutus{
        display: flex;
        gap: 15px;
    }

    .footer-navigation a{
        font-size: 20px;
    }

    .footer-logo h1{
        font-size: 36px;
    }

    .footer-contact h2{
        font-size: 20px;
    }

    .footer-icons img{
        width: 40px;
        height: 40px;
    }

    .footer-end p{
        font-size: 16px;
    }

    .footer-number p{
        font-size: 20px;
    }
}

@media (max-width:900px) {
    
    /* .showcase:nth-last-child(4){
        display: none;
    }

    .bonquet:nth-last-child(4){
        display: none;
    } */

    .reviews-text p{
        font-size: 24px;
    }

    .reviews-title p{
        font-size: 20px;
    }

    .reviews-btn button{
        padding: 20px 114px;
    }

    .footer-wrapper{
        padding: 71px 15px 40px 15px;

    }
    
}
@media (max-width: 850px) {
   .showcases{
    display: flex;
    gap: 60px;
    padding-top: 60px;
   }

   .promous{
        display: flex;
        gap: 60px;
        padding-top: 60px;
   }

   .bonquets{
    display: flex;
    gap: 60px;
    padding-top: 60px;
   }

   .showcase:nth-last-child(3){
    display: none;
   }

   .bonquet:nth-last-child(2){
    display: none;
   }
}
@media (max-width:700px) {
    .header-logo h1{
        font-size: 32px;
    }

    .florist:last-child{
        display: block;
    }

    .florists{
        display: flex;
        gap: 43px;
    }
}

@media (max-width:750px) {
    .reviews-icons{
        width: 500px;
    }

    .about-photo img{
        width: 420px;
    }
    
    .reviews-btn button{
        padding: 15px 100px;
    }
}

@media (max-width:650px) {
    .showcase:nth-last-child(2){
        display: none;
    }

    .showcase:nth-last-child(3){
        display: none;
    }
    
    
    .promo:nth-last-child(1){
        display: none;
    } 
    
    .bonquet:nth-last-child(2){
        display: none;
    }

    .bonquet:nth-last-child(3){
        display: none;
    }

    .promo:nth-last-child(3){
        display: block;
    }

    .footer-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        text-align: center;
    }
    .footer-navigation{
        display: flex;
        align-items: center;
        text-align: center;
    }

    .footer-contacts{
        display: flex;
        align-items: center;
        text-align: center;
    }
    
    
}

@media (max-width:570px) {
    .feedback-title h2{
        font-size: 28px;
    }
    .feedback-text p{
        font-size: 14px;
    }
    .feedback-btn button{
        padding: 8px 45px;
        font-size: 16px;
    }

     .about-photo img{
        width: 380px;
        height: 350px;
    }

    .about-item{
        padding: 0 60px;
    }

    .footer-end{
        display: flex;
        white-space: wrap;
        align-items: center;
        text-align: center;
    }
}

@media (max-width:550px) {
        .reviews-text p{
            font-size: 20px;
        }
        
        .reviews-icons{
        width: 370px;
    }

        .reviews-icons img{
            width: 45px;
            height: 45px;
        }

            .reviews-btn button{
                padding: 15px 80px;
                font-size: 20px;
            }
}
@media (max-width: 490px) {
    .header-wrapper{
        padding: 20px 30px;
    }

    .banner-btn button{
        font-size: 16px;
    }

    .feedback-item{
        padding: 20px 60px 20px 45px;
    }

    .showcase:nth-last-child(4){
        display: block;
    }

    .bonquet:nth-last-child(4){
        display: block;
    }

     .about-photo img{
        width: 320px;
        height: 350px;
    }

    .footer-navigation a{
        font-size: 16px;
    }

    .footer-logo h1{
        font-size: 32px;
    }

    .footer-contact h2{
        font-size: 16px;
    }

    .footer-icons img{
        width: 35px;
        height: 35px;
    }

    .footer-end p{
        font-size: 12px;
    }

    .footer-number p{
        font-size: 16px;
    }
}

@media (max-width:400px) {
    .reviews-icons{
        width: 350px;
    }

        .reviews-icons img{
            width: 40px;
            height: 40px;
        }

            .reviews-btn button{
                padding: 12px 65px;
                font-size: 18px;
            }
}